*{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}
header {
    background-color: rgb(135, 214, 188);
    padding: 0.5rem;
}
h1 {
    text-align: center;
    color: white;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    margin: auto;
  }

.showcase-tools {
    width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;

    padding:1rem;
    margin: auto;
}
.showcase-tools section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}

button {
    border: none;
    border-radius: 1rem;
    padding:0.3rem;
    font-family:  monospace;
    font-size: 1.2rem;
}

input{
    margin: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
}

input[type="color"] {
    -webkit-appearance: none;
    border-radius: 1rem;
    padding:0.1rem;
    border: none;
    min-width: 2rem;
    min-height: 2rem;
}

input[type="color"]::-webkit-color-swatch {
    border: solid 0 black; /*change color of the swatch border here*/
    border-radius: 1rem;
}

.tools div{
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.tools img{
    width:3rem;    
}

/* Grilla */
.gridSection{
    box-shadow: 5px 10px #888888;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.showgrid {
    display: inline-grid;
}
  
.grid-item {
    border: 0.05rem solid black;
}